.form-group
    width: 100%
    display: grid
    align-items: center
    text-align: left
    label
        width: 100%
        font-size: 16px
        color: rgba(129, 124, 148, 0.67)
        padding: 10px 24px
    input
        display: flex
        border: none
        border-radius: 99px
        font-size: 20px
        letter-spacing: 0.03em
        color: #575070
        padding: 20px 32px
        margin-bottom: 6px
        &::placeholder
            color: rgba(152,147,168,0.75)
        &::-webkit-input-placeholder
            color: rgba(152,147,168,0.75)
        &::-moz-placeholder
            color: rgba(152,147,168,0.75)
        &::-ms-input-placeholder
            color: rgba(152,147,168,0.75)
        &::-moz-placeholder
            color: rgba(152,147,168,0.75)
        // chrome autocomplite
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active
            -webkit-box-shadow: 0 0 0 90px rgba(243,94,174,0.06) inset !important
    small
        color: rgba(255, 116, 158, 0.9)
        font-size: 16px
        padding: 0 24px