@import "vars"
@import "fonts"
@import "libs"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
	margin: 0
	padding: 0
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

hr
	border: 0
	height: 2px
	background: rgba(139, 106, 168, 0.18)
	border-radius: 99px
	margin: 40px 26px


.text-center
	text-align: center

b, strong
	font-weight: bold

h1
	font-family: $accent-font
	font-size: 54px
	color: rgba(51,45,67,0.75)
	margin: 0
	line-height: 60px

.page
	&-main
		height: 100vh
		display: block
		//overflow: hidden
		background-size: cover
		outline: 1px solid green
		overflow: hidden
		.bg
			.background
				max-width: auto
				min-height: 100%
				position: absolute
				z-index: -99
			.mountain
				max-width: auto
				min-height: 100%
				position: absolute
				z-index: -98
			.fitness-girl
				left: 18%
				top: 24%
				position: absolute
				z-index: -97

#welcome
	font-size: 22px
	.container
		display: grid
		grid-template-columns: 1fr
		grid-template-areas: "header header" "none content"
		max-width: 1240px
		margin: 0 auto
		&-only-page
			height: 100%
			max-width: 1240px
			margin: 0 auto
			
.content
	&-full
		//outline: 1px solid green
		height: 100%
		padding: 60px
		text-align: center
	&-right
		grid-area: content
		margin-top: 150px
		max-width: 600px
		h1
			margin-bottom: 53px
		p
			color: rgba(131, 126, 151, 0.83);
		.btns-form
			display: grid
			grid-template-areas: "reg login"
			grid-template-columns: 333px 1fr
			margin: 70px 0 50px 0
			grid-column-gap: 30px
			.btn-start
				grid-area: reg
			.btn-response
				grid-area: login
				justify-self: stretch
		.btns-auth-soc
			width: 100%
			.title
				text-align: center
				font-size: 18px
				padding: 20px
				letter-spacing: 0.02em
				color: rgba(92, 128, 162, 0.4)
			ul
				margin: 0
				padding: 0
				display: grid
				list-style: none
				grid-template-columns: repeat(4, auto)
				grid-gap: 30px
				align-items: center
				justify-content: center


.footer
  grid-area: footer
  position: relative
  .lang
    margin: 40px 0
    font-size: 14px
    display: grid
    position: absolute
    bottom: 0
    right: 0
    grid-template-areas: "select-lang" "active"
    grid-template-columns: 1fr
    cursor: pointer
    .flag
      grid-area: 'flag'
      width: 20px
      height: 14px
      &-active
        opacity: 0
        transition: opacity .5s linear
    .select-lang 
      grid-area: 'select-lang'
      border-radius: 10px 10px 0 0
      opacity: 0
      transition: opacity .5s linear
      margin: 0
      padding: 0
      .language
        list-style: none
        display: grid
        grid-template-areas: "flag name"
        grid-template-columns: 40px 1fr
        height: 34px
        opacity: 0
        @for $i from 1 through 5
          &:nth-child(#{$i}n)
            transition: opacity #{ ($i - 1)/10 }s linear
        .flag
          align-self: center
          justify-self: center
          grid-area: 'flag'
        span.name 
          align-self: center
          justify-self: left
          grid-area: 'name'
          opacity: 0.8
        &:first-child:hover
          border-radius: 10px 10px 0 0
        &:hover
          background-color: rgba(28, 28, 28, 0.04)
          span.name
            opacity: 0.9

      &:hover ~ .active .arrow
        transform: rotate(180deg)
        transition: transform .25s linear
    .active
      z-index: 2
      grid-area: 'active'
      display: grid
      height: 34px
      grid-template-areas: "flag name arrow"
      grid-template-columns: 40px 1fr 33px
      border-radius: 0 0 10px 10px
      transition: background-color .3s linear
      justify-items: center
      align-items: center
      span.name
        grid-area: 'name'
        opacity: 0.8
      .arrow
        grid-area: 'arrow'
        opacity: 0.5
        transition: transform .35s linear
    &:hover 
      .select-lang
        height: auto
        display: grid
        opacity: 1
        background-color: rgba(28, 28, 28, 0.025)
        .language 
          opacity: 1
        @for $i from 5 through 1
          .language:nth-child(#{$i})
              transition: opacity #{0 + ((6 - $i)/ 10) }s linear
      .active
        background-color: rgba(28, 28, 28, 0.05)
        .flag-active
          opacity: 1
          transition: opacity .25s linear
        .arrow
          transform: rotate(90deg)
          transition: transform .15s linear




@import "page-anim"
@import "inputs"	
@import "btn" // Buttons
@import "media" // Always at the end
