@media all and (max-width: 1540px)
  body
    font-size: $font_size_shd

  .grid-wrapper
    max-width: 1400px

@media all and (max-width: 1480px)
  body
    font-size: $font_size_hd

  .grid-wrapper
    max-width: 1200px
    padding: 0 16px



// Минус с топа отступ

@media all and (max-width: 1200px)
  .wrapper-header
    margin-top: 1.684em

  .sidebar
    margin-top: 2.184em

// SHORT SIDEBAR

@media all and (max-width: 1030px)
  .grid-wrapper
    max-width: 950px
    grid-template-columns: 70px 1fr 1fr
    grid-gap: 10px
    padding: 0 20px

  .wrapper-header
    ul.top-menu
      align-items: center
      justify-content: left

  .sidebar
    margin-left: 0px !important

    .logo
      .name
        display: none

    ul.menu
      margin-top: 30px
      padding: 0

      li
        list-style: none
        padding: 0
        margin-bottom: 14px

        a
          width: auto
          grid-template-columns: 1fr
          padding-right: 0.368em

          // 7px;
          .name
            display: none

  @media all and (max-width: 800px)
    .wrapper-header
      ul.top-menu
        display: none

  // MOBILE
  @media all and (max-width: 660px)
    .grid-wrapper
      grid-template-columns: 1fr
      grid-template-areas: "header" "content" "footer" "sidebar"

    .sidebar
      margin-top: 0
      width: 100%
      z-index: 99
      background: #fff
      bottom: 0
      left: 0
      .logo
        display: none
      ul.menu
        margin: 0
        li
          display: inline-block
          width: 19%
          margin: 0
          a
            border-radius: 0
            span.icon
              .notification
                top: -1.632em
                right: -1.353em
